Flask
Flask-SQLAlchemy
plotly
numpy
tensorflow
scikit-learn
pandas
python-dotenv
Flask
flask-mail
Flask-SQLAlchemy
numpy
pandas
pdfkit
plotly
python-dotenv
reportlab
scikit-learn
sqlalchemy
werkzeug
Flask
Flask-Mail
Flask-SQLAlchemy
numpy
plotly